@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;600;700&family=Urbanist&display=swap');

*{
    margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Urbanist', sans-serif;
}

:root{
    --bs-dark-color:#1a1d20;
    --bs-dark-primary:#1c1c1c;
    --bs-main-color:#fff;
    --bs-primary-color:#c6c6c6;
    --bs-secondary-color:#29a9fd;
    --bs-supporting-color:#C850C0;
}

h1,h3,h3,h4,h5{
    color: var(--bs-dark-color);
    font-family: 'Lexend Deca', sans-serif;
    
}
h1{
    font-size: 3.8rem;
}
h2{
    line-height: 4 rem;
    font-weight: 600;
    font-size: 3.4rem;
}
p{
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    text-rendering: optimizeLegibility;
    font-synthesis: none;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
button, a{
    font-size: 1.15rem !important;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;
}
.common-heading{
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}
.common-title{
    margin-bottom: 4.2rem;
}
.common-section{
    padding: 0 0 9rem 0;
}
/* main part-1 */
.hero-section .container{
    display: grid;
    place-content: center;
    height: inherit;
}
.bg-color{
    background-color: var(--bs-dark-primary);
    color: var(--bs-main-color);
}
.bg-theme{
    color: var(--bs-supporting-color);
    background-image: none !important;
}
.bg-main{
    height: 89vh;
    position: relative;
}

.hero-video{
    width: 30rem;
    height: auto;
    border-radius: 2.5rem;
}
.nav-link{
    color: var(--bs-main-color);
    font-weight: bold;
}
.nav-link:hover{
    color: var(--secondary-color) !important;
}
.text-light-grey{
    color: var(--bs-primary-color);
}

.custom-shape-divider-bottom-1687260690 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1687260690 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1687260690 .shape-fill {
    fill: white;
    border:2px solid white;
}


/* service */
.service-section{
    padding: 6rem 0 3rem 0 !important;
 }
 .icon-span{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--bs-secondary-color);
    color: var(--bs-main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 .card-box:hover{
    box-shadow: rgba(149, 157, 165, 0.2)0 8px 24px;
 }


 /* new page */

 .more-info-section{
    background-image: linear-gradient(rgba(22,22,22,0.9),rgba(22,22,22,0.9)),url("https://images.unsplash.com/flagged/photo-1559717201-fbb671ff56b7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 6rem 0;
    overflow: hidden;

 }


 .more-info-section .img-section{
    position: relative;
    
 }

 .more-info-section .img-section img{
    width: 70%;
    border-radius: 8rem;
    
 }


.part{
    height: 90vh;
}


/* new page */
.business-section{
    padding-top: 3rem;
    
}
 
.carousel-inner .card{
     background-color: #262631;
     color: var(--bs-main-color);
     transition: all 0.3 linear;
}
.carousel-inner .card p{
    color: var(--bs-main-color );
}

.carousel-inner .card:hover{
    color: var(--bs-dark-color);
    background-color: var(--bs-main-color);

}
.carousel-inner .card p:hover{
    color: var(--bs-dark-color);

}
.fa-star{
    color: var(--bs-supporting-color);
}
.carousel-indicators{
    bottom: -20%;
}
.carousel-indicators [data-bs-target]{
    width: 0.7rem;
    height: 0.7rem;
    background-color: var(--bs-secondary-color);
}



.text-grey{
    color: var(--bs-primary-color);
}
.text-light-grey{
    color: var(--bs-primary-color);
}


/* last page */
.contact-section{
    position: relative;
}
.custom-shape-divider-top-1687328748 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1687328748 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1687328748 .shape-fill {
    fill: #FFFFFF;
}

.common-section .common-title{
    padding-top: 6rem;
}

.form-section{
    width: 50%;
}
.goat img{
    width: 122px;
}


/* last part */
.main-footer-section{
    padding: 0 0 4rem 0;
    color: var(--bs-main-color);
}
.contact-div{
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon-div{
    width: 5rem;
    height: 5rem ;
}

@media screen and (max-width:1200px){
    .hero-video{
        width: 20rem;
        border-radius: 1rem;
    }
    
}


@media screen and (max-width:998px) {
    .navbar-toggle{
        border-color: var(--bs-main-color);
    }
    .navbar-toggle-icon{
        color: var(--bs-main-color);
        background-color: var(--bs-main-color);
    }
    h1{
        font-size: 2.4rem;
    }
    section .common-heading{
        font-size: 2rem;
    }
    section .para-width{
        width: auto;
    }
    h2{
        font-size: 1.8rem;
        line-height: 2.4rem;
    }
    .more-info-section{
        text-align: center;
    }
    .carousel-indicators{
        bottom: -8%;
    }
    .goat img{
        width: 10rem;
        height: auto;
        
    }
}